# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor / IDE
.vscode/
.idea/

# Office temporanei
~$*.docx
~$*.xlsx
~$*.pptx

# System junk
Thumbs.db
ehthumbs.db
Desktop.ini

# Node / Python (se mai servissero)
node_modules/
__pycache__/
